<div class="container">
  <div class="row">
    <h1 class="text-center">Welcome to the Recruitment Glossary!</h1>
  </div>
  <div class="row"> 
            {{termsList | async}}
    <div class="col-12" *ngFor="let term of terms | async; let i = index">
      <div class="col-sm-12"><a [routerLink]="['.','terms',term.termId]">{{term.termName}}</a></div>
      <div class="col-sm-12">

        <div class="col-sm-12" *ngFor="let path of term?.parentTerms | async; let j = index">
          {{ path.termName }}
        </div>
      </div>
    </div>
  </div>
</div>
